<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rosebar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1544619EC50A7B4422386E48223280E433B70254</string>
				<key>dateExpires</key>
				<string>2020/11/13</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QSXQZ99S8B.com.yuetech.imyueji</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:f7bk26aae2ab76.shareinstall.com.cn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>QSXQZ99S8B</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>rosebar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2418e4c3-ed35-4936-8d5f-06bbfa063ff2</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.yuetech.imyueji</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QSXQZ99S8B</string>
				<key>name</key>
				<string>Yan'an Li</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
